In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [15]:
bike_df = pd.read_csv('trip.csv', error_bad_lines=False, quoting= csv.QUOTE_NONE,warn_bad_lines=False)

In [30]:
bike_df.head(6)

,"""trip_id""","""starttime""","""stoptime""","""bikeid""","""tripduration""","""from_station_name""","""to_station_name""","""from_station_id""","""to_station_id""","""usertype""","""gender""","""birthyear"""
0,431,"""10/13/2014 10:31""","""10/13/2014 10:48""","""SEA00298""",985.935,"""2nd Ave & Spring St""","""Occidental Park / Occidental Ave S & S Washin...","""CBD-06""","""PS-04""","""Member""","""Male""",1960.0
1,432,"""10/13/2014 10:32""","""10/13/2014 10:48""","""SEA00195""",926.375,"""2nd Ave & Spring St""","""Occidental Park / Occidental Ave S & S Washin...","""CBD-06""","""PS-04""","""Member""","""Male""",1970.0
2,433,"""10/13/2014 10:33""","""10/13/2014 10:48""","""SEA00486""",883.831,"""2nd Ave & Spring St""","""Occidental Park / Occidental Ave S & S Washin...","""CBD-06""","""PS-04""","""Member""","""Female""",1988.0
3,434,"""10/13/2014 10:34""","""10/13/2014 10:48""","""SEA00333""",865.937,"""2nd Ave & Spring St""","""Occidental Park / Occidental Ave S & S Washin...","""CBD-06""","""PS-04""","""Member""","""Female""",1977.0
4,435,"""10/13/2014 10:34""","""10/13/2014 10:49""","""SEA00202""",923.923,"""2nd Ave & Spring St""","""Occidental Park / Occidental Ave S & S Washin...","""CBD-06""","""PS-04""","""Member""","""Male""",1971.0
5,436,"""10/13/2014 10:34""","""10/13/2014 10:47""","""SEA00337""",808.805,"""2nd Ave & Spring St""","""Occidental Park / Occidental Ave S & S Washin...","""CBD-06""","""PS-04""","""Member""","""Male""",1974.0

In [29]:
# Q1: What is the average trip duration for a borrowed bicycle?
bike_df['"tripduration"'].mean()

1178.2956753399776

In [40]:
#Q2: Whatâ€™s the most common age of a bicycle-sharer?
birthyear = bike_df['"birthyear"'].mode()
age = 2021 - birthyear
print('the most common age is ', age[0])

the most common age is  34.0

In [41]:
#Q3: Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [115]:
weather_df = pd.read_csv('weather.csv', error_bad_lines=False, quoting= csv.QUOTE_NONE,warn_bad_lines=False)
weather_df.head(5)

/home/jana/ASAC/401repo/bike-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
/home/jana/ASAC/401repo/bike-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,"""Date""","""Max_Temperature_F""","""Mean_Temperature_F""","""Min_TemperatureF""","""Max_Dew_Point_F""","""MeanDew_Point_F""","""Min_Dewpoint_F""","""Max_Humidity""","""Mean_Humidity""","""Min_Humidity""",...,"""Mean_Sea_Level_Pressure_In""","""Min_Sea_Level_Pressure_In""","""Max_Visibility_Miles""","""Mean_Visibility_Miles""","""Min_Visibility_Miles""","""Max_Wind_Speed_MPH""","""Mean_Wind_Speed_MPH""","""Max_Gust_Speed_MPH""","""Precipitation_In""","""Events"""
0,"""10/13/2014""",71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,"""21""",0.00,"""Rain"""
1,"""10/14/2014""",63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,"""17""",0.11,"""Rain"""
2,"""10/15/2014""",62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,"""25""",0.45,"""Rain"""
3,"""10/16/2014""",71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,"""-""",0.00,"""Rain"""
4,"""10/17/2014""",64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,"""-""",0.14,"""Rain"""

In [94]:
import datetime

In [96]:
month_arr = []
year_arr = []
for date in weather_df['"Date"']:
    date = date.replace('"', "")
    date = pd.to_datetime(date, format="%m/%d/%Y")
    month_arr.append(date.month)
    year_arr.append(date.year)
    
month_col = pd.Series(month_arr, name='"month"')
year_col = pd.Series(year_arr, name='"year"')
weather_df["year"] = year_col
weather_df["month"] = month_col

print(weather_df.head())

         "Date"  "Max_Temperature_F"  "Mean_Temperature_F"  \
0  "10/13/2014"                   71                  62.0
1  "10/14/2014"                   63                  59.0
2  "10/15/2014"                   62                  58.0
3  "10/16/2014"                   71                  61.0
4  "10/17/2014"                   64                  60.0

   "Min_TemperatureF"  "Max_Dew_Point_F"  "MeanDew_Point_F"  "Min_Dewpoint_F"  \
0                  54                 55                 51                46
1                  55                 52                 51                50
2                  54                 53                 50                46
3                  52                 49                 46                42
4                  57                 55                 51                41

   "Max_Humidity"  "Mean_Humidity"  "Min_Humidity"  ...  \
0              87               68              46  ...
1              88               78              63  ...
2              87               77              67  ...
3              83               61              36  ...
4              87               72              46  ...

   "Max_Visibility_Miles"  "Mean_Visibility_Miles"  "Min_Visibility_Miles"  \
0                      10                       10                       4
1                      10                        9                       3
2                      10                        9                       3
3                      10                       10                      10
4                      10                       10                       6

   "Max_Wind_Speed_MPH"  "Mean_Wind_Speed_MPH"  "Max_Gust_Speed_MPH"  \
0                    13                      4                  "21"
1                    10                      5                  "17"
2                    18                      7                  "25"
3                     9                      4                   "-"
4                     8                      3                   "-"

   "Precipitation_In"  "Events"  year  month
0                0.00    "Rain"  2014     10
1                0.11    "Rain"  2014     10
2                0.45    "Rain"  2014     10
3                0.00    "Rain"  2014     10
4                0.14    "Rain"  2014     10

[5 rows x 23 columns]

In [113]:
group_year = weather_df.groupby(['year' , 'month']).mean()
group_year['"Precipitation_In"']

year  month
2014  10       0.300526
      11       0.144483
      12       0.145161
2015  1        0.073103
      2        0.163077
      3        0.137586
      4        0.056667
      5        0.014194
      6        0.005862
      7        0.008710
      8        0.016897
      9        0.041000
      10       0.124333
      11       0.234000
      12       0.327419
2016  1        0.216452
      2        0.173448
      3        0.178710
      4        0.046000
      5        0.010645
      6        0.055333
      7        0.015484
      8        0.000968
Name: "Precipitation_In", dtype: float64

In [114]:
group_year = weather_df.groupby(['year' , 'month']).median()
group_year['"Precipitation_In"']

year  month
2014  10       0.140
      11       0.010
      12       0.010
2015  1        0.000
      2        0.020
      3        0.000
      4        0.000
      5        0.000
      6        0.000
      7        0.000
      8        0.000
      9        0.000
      10       0.010
      11       0.065
      12       0.120
2016  1        0.070
      2        0.080
      3        0.060
      4        0.000
      5        0.000
      6        0.000
      7        0.000
      8        0.000
Name: "Precipitation_In", dtype: float64

In [120]:
#Q4: Whatâ€™s the average number of bikes at a given bike station?

month_arr = []
year_arr = []
hour_arr = []
for date in bike_df['"starttime"']:
    date = date.replace('"', "")
    date = pd.to_datetime(date, format="%m/%d/%Y %H:%M")
    month_arr.append(date.month)
    year_arr.append(date.year)
    hour_arr.append(date.hour)
    

bike_df["year"] = year_col
# bike_df["month"] = month_col
# bike_df["hour"] = hour_arr

print(bike_df.head())

   "trip_id"         "starttime"          "stoptime"    "bikeid"  \
0        431  "10/13/2014 10:31"  "10/13/2014 10:48"  "SEA00298"
1        432  "10/13/2014 10:32"  "10/13/2014 10:48"  "SEA00195"
2        433  "10/13/2014 10:33"  "10/13/2014 10:48"  "SEA00486"
3        434  "10/13/2014 10:34"  "10/13/2014 10:48"  "SEA00333"
4        435  "10/13/2014 10:34"  "10/13/2014 10:49"  "SEA00202"

   "tripduration"    "from_station_name"  \
0         985.935  "2nd Ave & Spring St"
1         926.375  "2nd Ave & Spring St"
2         883.831  "2nd Ave & Spring St"
3         865.937  "2nd Ave & Spring St"
4         923.923  "2nd Ave & Spring St"

                                   "to_station_name" "from_station_id"  \
0  "Occidental Park / Occidental Ave S & S Washin...          "CBD-06"
1  "Occidental Park / Occidental Ave S & S Washin...          "CBD-06"
2  "Occidental Park / Occidental Ave S & S Washin...          "CBD-06"
3  "Occidental Park / Occidental Ave S & S Washin...          "CBD-06"
4  "Occidental Park / Occidental Ave S & S Washin...          "CBD-06"

  "to_station_id" "usertype"  "gender"  "birthyear"  year  month  hour
0         "PS-04"   "Member"    "Male"       1960.0  2014     10    10
1         "PS-04"   "Member"    "Male"       1970.0  2014     10    10
2         "PS-04"   "Member"  "Female"       1988.0  2014     10    10
3         "PS-04"   "Member"  "Female"       1977.0  2014     10    10
4         "PS-04"   "Member"    "Male"       1971.0  2014     10    10

In [131]:
group_year2 = bike_df.groupby(['hour', '"from_station_name"']).size()
group_year2 = bike_df.groupby(['hour', '"from_station_name"']).size()
group_year2 = group_year2.groupby(['"from_station_name"']).mean()

In [132]:
print(group_year2)

"from_station_name"
"12th Ave & E Denny Way"                                                    159.875000
"12th Ave & E Mercer St"                                                    263.416667
"12th Ave & E Yesler Way"                                                    41.652174
"12th Ave & NE Campus Pkwy"                                                 151.250000
"15th Ave E & E Thomas St"                                                  320.000000
                                                                               ...
"UW Intramural Activities Building"                                          92.400000
"UW Magnuson Health Sciences Center Rotunda / Columbia Rd & San Juan Rd"     69.900000
"UW McCarty Hall / Whitman Ct"                                               32.695652
"Union St & 4th Ave"                                                        122.409091
"Westlake Ave & 6th Ave"                                                    434.521739
Length: 61, dtype: float64

In [166]:
#Q5: When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

group_from_station = bike_df.groupby(['"from_station_name"']).size()
group_to_station = bike_df.groupby(['"to_station_name"']).size()

In [177]:
subtract = pd.DataFrame(group_from_station - group_to_station, columns=['total_change'])

In [178]:
subtract['total_change'].mean()

0.0